/RedSocial/nbproject/private/
/RedSocial/build/
/RedSocial/dist/
/RedSocial/RedSocial-ejb/build/
/RedSocial/RedSocial-ejb/dist/
/RedSocial/RedSocial-ejb/nbproject/private/
/RedSocial/RedSocial-war/build/
/RedSocial/RedSocial-war/nbproject/private/
/RedSocial/RedSocial-war/dist/