/RedSocial/nbproject/private/
/RedSocial/build/
/RedSocial/dist/
/RedSocial/RedSocial-ejb/build/
/RedSocial/RedSocial-ejb/dist/
/RedSocial/RedSocial-ejb/nbproject/private/
/RedSocial/RedSocial-war/build/
/RedSocial/RedSocial-war/nbproject/private/
/RedSocial/RedSocial-war/dist/

/RedSocialJSF/nbproject/private/
/RedSocialJSF/build/
/RedSocialJSF/dist/
/RedSocialJSF/RedSocialJSF-ejb/build/
/RedSocialJSF/RedSocialJSF-ejb/dist/
/RedSocialJSF/RedSocialJSF-ejb/nbproject/private/
/RedSocialJSF/RedSocialJSF-war/build/
/RedSocialJSF/RedSocialJSF-war/nbproject/private/
/RedSocialJSF/RedSocialJSF-war/dist/
